@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #104703;
  padding: 30px 0 20px 0;
}

.header-title {
  display: flex;
  align-items: flex-start;
}

.header-image {
  width: 60px;
  padding-right: 20px;
  align-self: center;
}

header h1 {
  color: white;
  font-family: "Shrikhand", cursive;
  letter-spacing: 4px;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  display: inline;
}

nav li {
  padding: 2rem 1rem;
  display: inline;
}

li > a {
  color: white;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

li > a:hover {
  color: rgb(133, 126, 111);
}

#this {
  color: rgb(133, 126, 111);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-search-form {
  display: flex;
  /* flex-direction: column; */
}

.player-form-section {
  margin: 10px;
}

.player-profile {
  margin-top: 20px;
  background-color: rgba(133, 126, 111, 0.2);
  padding: 20px;
  border: 2px solid black;
}

.player-profile-body {
  display: flex;
  flex-direction: row;
}

.player-profile h2 {
  padding: 0 0 10px 0;
  margin: 0;
}

.player-profile ul {
  margin-top: 0;
  padding: 0;
}
.player-profile li {
  display: block;
}

.name-photo {
  padding: 20px;
  text-align: center;
}

#player-photo {
  border: 2px solid black;
}

.bio-info {
  width: 200px;
  padding: 20px;
  line-height: 1.5rem;
}

.club-info {
  text-align: center;
}

#club-logo {
  height: 100px;
  padding: 20px 0;
}

.club-info ul:first-child {
  font-size: 2rem;
}

.club-info li {
  font-size: 1em;
  padding-bottom: 1rem;
}
.club-info > ul > li > img {
  height: 1rem;
  padding-right: 0.5rem;
}

.did-they-play {
  background-color: green;
  color: white;
  font-weight: 900;
  padding: 1rem;
}
